<h1>Stupid Coaching</h1>
<br/>
<%= @question.capitalize %>
<p><i>-You</i></p>

<br/>
<div style="background-color:lightyellow">
<b> <%= @answer %> </b>
<p><i>-Your Coach</i></p>
</div>

<br/>

<!-- <a href="ask" style="text-decoration: none"> Ask a new question</a> -->
<%=link_to 'Ask a new question', 'ask' %>
